<div class="app-shell">
  <p class="debug">showSimpsons = {{ showSimpsons }}</p>

  <ng-container *ngIf="!showSimpsons; else simpsonsView">
    <h2>Padre (App)</h2>

    <p>
      <b>Último mensaje recibido del hijo:</b>
      {{ lastReceivedFromChild || "(vacío)" }}
    </p>

    <input
      type="text"
      [(ngModel)]="parentText"
      placeholder="Escribe desde el padre..."
    />
    <button class="btn" (click)="sendToChild()">Enviar al hijo</button>

    <hr />

    <app-child
      [message]="lastSentToChild"
      (sendToParent)="onChildMessage($event)"
    ></app-child>

    <hr />

    <button class="go" (click)="openSimpsons()">Consumo de API</button>
  </ng-container>

  <ng-template #simpsonsView>
    <div class="simpsons-shell">
      <button class="close" (click)="closeSimpsons()">⬅ Cerrar</button>
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</div>
